page-store {

  span{
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    color: #a5a5a5;
    width: 88%;
    text-align: right;
  }

  label{
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    margin-left: 10px;
  }

  .arrow{
    width: 18px;
    height: 18px;
    margin-left: 16px;
  }

  // title{
  //   text-align: center;

  // }
}
