.ion-md-scan {
  content: url("../assets/icon/scan.png");
}
.ion-md-audit {
  content: url("../assets/icon/audit.png");
}
.ion-md-doing {
  content: url("../assets/icon/doing.png");
}
.ion-md-orders {
  content: url("../assets/icon/orders.png");
}
.ion-md-preparing {
  content: url("../assets/icon/preparing.png");
}
.ion-md-next{
  content: url("../assets/icon/next.png");
}
.ion-md-add{
  content: url("../assets/icon/add.png");
}
.ion-md-dlist{
  content: url("../assets/icon/dlist.png");
}
.ion-md-dreport{
  content: url("../assets/icon/dreport.png");
}
.ion-md-order{
  content: url("../assets/icon/order.png");
}
.ion-md-repairAudit{
  content: url("../assets/icon/repair-audit.png");
}
.ion-md-location{
  content: url("../assets/icon/location.png");
}
.ion-back{
  content: url("../assets/icon/back.png");
}
.ion-th-list{
  content: url("../assets/icon/th-list.png");
}
// 我的
.ion-about{
  content: url("../assets/icon/about.png");
}
.ion-async{
  content: url("../assets/icon/async.png");
}
.ion-manger{
  content: url("../assets/icon/manger.png");
}
.ion-mine_repair{
  content: url("../assets/icon/mine_repair.png");
}
.ion-mine_report{
  content: url("../assets/icon/mine_report.png");
}
.ion-pwd{
  content: url("../assets/icon/pwd.png");
}
.ion-update{
  content: url("../assets/icon/update.png");
}
