page-my-work-list {

  //Android标题右间距
  .toolbar-content-md {
    margin-right: 44px;
  }

  .myspan{
    float: right;
    margin-right: 5px;
  }

  .icon{
    margin-right: 5px;
    float: right;
  }
}
